<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is an example webpage">
        <meta name="author" content="Kiril Bourakov">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <h1 class="center">Welcome to this social media platform</h1>

        <form>
            <input type="text" name="title" />

            <textarea name="content"></textarea>

            <input type="submit" />
        </form>

        <div class="center post">
            <h1>This is a title</h1>
            <p>This is a post with dummy content. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Integer pretium porttitor lectus, sed efficitur felis vehicula vitae. Mauris rutrum metus. </p>
        </div>

        <div class="center post">
            <h1>This is the title of another post</h1>
            <p>This is a post with dummy content. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Integer pretium porttitor lectus, sed efficitur felis vehicula vitae. Mauris rutrum metus. </p>
        </div>
        

    </body>
</html>